@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800;900&display=swap');
body{
    bottom: 0;
    padding-bottom: 0;
    font-family: 'Inter', sans-serif !important;
}
.navbar{
    background-color: #F4DDF5 !important;
}
.nav-cont{
    padding: 15px 0;
}
.navbar-brand img{
    width: 200px;
}

.test-title{
    display: inline-block;
    font-size: 17px;
    font-weight: 700;
    margin-left: 10px;
}
.navbar-nav{
    font-family: 'Inter', sans-serif !important;
    font-size: 15px;
}

.navbar-nav .nav-link{
    margin-right: 50px;
}


.btn-logout{
    background-color: #BE6FFB !important;
    color: #fff !important;
    width: 120px;
}

.content{
    padding: 20px 100px !important;
}

.soal{
    width: 100%;
    text-align: center;
}

.soal span{
    font-size: 14px;
}

.soal p{
    margin-top: 20px;
}

.editor {
	position: relative !important;
	border: 1px solid lightgray;
	margin: 20px auto;
	height: 300px;
	width: 100%;
}

.btn-run{
    background-color: #BE6FFB !important;
    color: #fff !important;
    padding: 5px 20px !important;
}

.output-title{
    font-size: 17px;
    font-weight: 700;
}

.output-desc{
    background-color: #CCA4FF;
    padding: 5px 15px;
    margin-top: 10px;
}

.preview-code{
	background-color: #141414;
	border: 1px solid lightgray;
	margin: 10px auto;
	height: 235px;
	width: 100%;
	padding: 12px;
	color: #fff;
	font-size: 14px;
}

.btn-skip{
    background-color: #BE6FFB !important;
    color: #fff !important;
    padding: 5px 40px !important;
    display: inline-block !important;
    float: right !important;
}

.clear{
    clear: right;
}

.error{
	color: red;
}

.wrapper-test{
    width: 80%;
    margin: 0 auto;
}
.wrap-soal{
    width: 100%;
    background-color: #CCA4FF;
    padding: 15px 20px;
    border-radius: 10px;
    text-align: center;
}

.wrap-pilgan{
	width: 80%;
	min-height: 50px;
	display: flex;
	align-items: stretch;
	padding-bottom: 10px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.pilgan-box{
	width: 45%;
	padding: 20px;
	color: #000;
	background-color: #CCA4FF;
    border-radius: 10px;
}
.pilgan-box:hover{
    cursor: pointer;
}

.f-right{
    margin-left: auto;
}

#username{
    font-weight: 700;
}
#result{
    font-weight: 700;
}

.choose{
    background-color: #BE6FFB;
    color: #fff;
    font-weight: 700;
}

.wrap-hasil{
    width: 60%;
    margin: 0 auto;
}

.result{
    width: 100%;
    padding: 10px 20px;
    margin-top: 30px;
    background-color: #E0D7EC;
    font-weight: 700;
    border-radius: 10px;
}

.btn-home{
    display: block;
    background-color: #BE6FFB !important;
    color: #fff !important;
    width: 120px;
    margin: 30px;
}

.footer{
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: #F4DDF5;
    bottom: 0;
    font-size: 14px;
}

.code-wrapper{
    width: 50%;
    padding: 10px 20px;
    margin: 10px auto;
    background-color: #000;
    color: #fff;
    text-align: left;
}